.layout--twocol-section {
  display: block;
}
.date-container {
  display: flex;
  align-items: center;
}
.date {
  margin-left: 5px;
}
.pitch {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 150%;

  /* identical to box height, or 60px */

  color: #000000;
}
.apply-btn {
  /* background: #407bff;
  padding: 12px, 140px, 12px, 140px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 140px;
  gap: 10px;
  color: white;
  background: #407bff;
  border-radius: 12px;
  margin-top: 15px;
}
.coninDCX-title {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 64px !important;
  line-height: 150%;
  color: #000000;
  margin: 10px 0px;
  margin: 23px 0 35px -6px !important;
}
.coinDCX-parent p {
  width: 57% !important;
}
.prize-money-parent {
  display: flex;
  justify-content: space-evenly;
  margin-top: 120px;
}
.prize-money-parent img {
  position: relative;
  bottom: 83px;
  height: 367px;
}
.left-prize p {
  color: grey;
}
.left-prize .logo img {
  width: 287px;
  height: 59px;
}
.left-prize h2 {
  font-size: 57px;
  font-weight: bold;
  margin-top: 28px;
  margin-right: ;
  position: relative;
  right: 4px;
}
.prize-money-parent h1 {
  font-size: 60px;
}
.mentor-title {
  text-align: center;
  color: grey !important;
  margin-bottom: 50px !important;
}
.mentor-parent {
  width: 975px;
  justify-content: space-between;
}
.program-view-mentor-profile {
  margin: 10 20px;
  border-radius: 0% !important;
  -webkit-border-radius: 0% !important;
  -moz-border-radius: 0% !important;
  -ms-border-radius: 0% !important;
  -o-border-radius: 0% !important;
}
.faq-title {
  text-align: left !important;
  margin-bottom: 24px !important;
}
.faq-detail {
  width: 57% !important;
  margin-bottom: 105px;
}
